.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #454545;
    font-family: 'Ubuntu', sans-serif;
    color: white;
    font-size: 25px;
    width: 100%;
    padding: 0px 10px 0px 10px;
}
.ZipCode input{
    font-size: 25px;
}
.ZipCode {
    display: flex;
}
strong {
    padding: 10px;
}


